<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1, minimum-scale=0.5"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>Echoss Mall</title>
    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/main.css" rel="stylesheet"/>
    <link href="css/utils.css" rel="stylesheet"/>
    <link href="css/lib/swiper-4.1.0.min.css" rel="stylesheet" />
    <script type="text/javascript" src="js/lib/vue.min.js"></script>
    <script type="text/javascript" src="js/px2rem.js"></script>
</head>
<body>

<div class="container">
    <div v-cloak class="container_box">
        <div class="nav flex_center">
                <a class="btn_back flex_center" :href="appLink">
                <img src="images/icon_back.png"/>
            </a>
            <template v-if="brandMenuNm">
                <p class="title" v-text="brandMenuNm"></p>
            </template>
            <template v-else>
                <p class="title" style="height: 100%;align-items: center;display: flex;">
                    <img src="images/glovis_logo.jpg" style="width: 5rem;height: auto;" />
                </p>
            </template>
            <a class="btn_coupon_box flex_center" href="" :href="coupon_box">
                <img src="images/icon_coupon_box.png"/>
            </a>
        </div>

        <div class="section">
            <!--<div :class="!brandProductSearchShow ? 'header header_show' : 'header header_hide'">-->
            <div v-if="!brandProductSearchShow" class="header">
                <div class="header_top">
                    <ul class="header_menu flex_row_center">
                        <li class="flex_center" v-for="(item, index) in menuList" :class="{'on':item.id == menuIdx}">
                            <a class="flex_column_center" href="javascript:void(0)" :data-id="item.id" @click.stop="selectgroup">
                                <p class="menu_name" v-text="item.name"></p>
                                <p class="icon_down" :class="{'on':item.id == menuIdx}">〉</p>
                            </a>
                        </li>
                    </ul>
                    <a class="btn_menu flex_center" href="javascript:void(0)" @click="menuShow=true">
                        <p>Category</p>
                        <ul class="icon_menu_group flex_column_center">
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </a>
                </div>
                <transition name="bounce_a">
                    <div v-if="menuIdx!=0 && menuIdx != brandMenuId" class="category_banner">
                        <ul class="category_list">
                            <li v-if="menuIdx==item.categoryType" v-for="item in categoryList">
                                <ol>
                                    <li v-for="part in item.parts">
                                        <a v-on:click="selectCategory" :data-id="part.ctgrCd" class="flex_column_center" href="javascript:void(0)">
                                            <div class="icon_menu_bg flex_center">
                                                <div :class="part.ctgrCd == categoryIdx ? 'on' : '' " class="icon_menu bg_cover" :style="{backgroundImage:'url('+ part.ctgrImg +')'}"></div>
                                            </div>
                                            <p class="name_menu" v-text="part.ctgrNm"></p>
                                        </a>
                                    </li>
                                </ol>
                            </li>
                        </ul>
                    </div>
                </transition>
            </div>

            <!-- 배너 -->
            <div v-if="mainSwiper.length > 1" :style="menuIdx == '0' ? '' : 'display:none;' " class="main_swiper swiper-container">

                <div class="swiper-wrapper">
                    <div class="swiper-slide bg_cover"  v-for="item in mainSwiper" :style="{backgroundImage:'url('+ item.bnrImg +')'}">
                        <a :href="item.href"></a>
                    </div>
                </div>

                <div class="main_pagination swiper-pagination"></div>
            </div>

            <!-- 배너 -->
            <div v-if="mainSwiper.length == 1" :style="menuIdx == '0' ? '' : 'display:none;' " class="swiper-container" style="    width: 100%;    height: 4.21875rem;">

                <div class="swiper-wrapper">
                    <div class="swiper-slide bg_cover" v-for="item in mainSwiper" :style="{backgroundImage:'url('+ item.bnrImg +')'}">
                        <a :href="item.href" style="display: block; height: 100%;"></a>
                    </div>
                </div>

            </div>

            <!-- *  인기 카테고리 2018-12-19 추가  -->

            <template v-if="rmd_categoryList.length > 0 ">
                <div v-if="rmd_categoryShow" class="rmd_category" >
                    <div class="rmd_menu_title">
                        인기 카테고리
                    </div>
                    <div class="rmd_category_list">
                        <div>
                            <img src="images/test_category_images/1.jpg">
                        </div>
                        <div>
                            <template v-for="item in rmd_categoryList">
                            <div @click="rmdCategoryClick" :data-id="item.ctgrCd">
                                <div>
                                    <div>
                                        <img :src="item.ctgrImg">
                                    </div>
                                    <div v-text="item.ctgrNm"></div>
                                </div>
                            </div>
                            </template>
                        </div>
                    </div>
                </div>
            </template>

            <!-- *  인기 브랜드 2018-12-19 추가   -->
            <template v-if="rmd_brandList.length > 0 ">
                <div v-if="rmd_brandShow" class="rmd_brand" >
                    <div class="rmd_menu_title">
                        인기 브랜드
                    </div>
                    <div class="rmd_brand_list">
                        <template v-for="item in rmd_brandList">
                            <div @click="brandClick" :data-id="item.ctgrCd" :data-name="item.ctgrNm" data-type="main">
                                <div>
                                    <img :src="item.ctgrImg" />
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </template>

            <!-- * 브랜드 정보 -->
            <div v-if="brand_infoShow && !brandProductSearchShow" class="brand_menu">
                <div class="brand_menu_search">
                    <input ref="searchBrandNm" class="brand_menu_search_input" type="text" value="" placeholder="브랜드명으로 검색하세요" />
                    <div v-on:click="brandSearch" class="brand_menu_search_btn"></div>
                </div>
                <div class="brand_list">
                    <template v-for="item in brandMenuList">
                        <div @click="brandClick" :data-id="item.ctgrCd" :data-name="item.ctgrNm" data-type="brand">
                            <div>
                                <img :src="item.ctgrImg" />
                            </div>
                        </div>
                    </template>
                </div>
                <!--<div class="brand_more_view">-->
                    <!--<div class="brand_more">-->
                        <!--더보기-->
                    <!--</div>-->
                <!--</div>-->
            </div>

            <!-- 상품 검색 -->
            <div v-if="brandProductSearchShow" class="productSearch_menu">
                <div class="productSearch_menu_search">
                    <input ref="searchProductNm" class="productSearch_menu_search_input" type="text" value="" placeholder="상품명으로 검색하세요." />
                    <div v-on:click="brandproductSearch" class="brand_menu_search_btn"></div>
                </div>
                <div class="brand_search_select">
                    <select ref="searchProductOrder" >
                        <option value="R">추천순</option>
                        <option value="P">가격순</option>
                        <option value="S">판매순</option>
                    </select>
                </div>
            </div>

            <!-- 상품 리시트 -->
            <div class="product_list">
                <ul class="product_list_ul">
                    <li v-for="item in productList">
                        <div>
                        </div>
                        <a class="flex_row_center" :href="item.url">
                            <div class="product_img bg_cover" :style="{backgroundImage:'url('+ item.goodsImg +')'}">
                            </div>
                            <div class="product_info">
                                <p class="name">{{item.brdNm}}</p>
                                <p class="product_name">{{item.goodsNm}}</p>
                                <p v-if="item.goodsSalGbn == '1'" class="after_price">{{item.goodsSalPrice | formatPoint}}</p>
                                <p v-if="item.goodsQttGbn == '2' " class="inventory">
                                    (잔여수량 : {{item.goodsCnt}})
                                </p>
                            </div>
                            <!-- mark -->
                            <!--<img v-if="item.goodsSalGbn == '1' " class="mark" src="images/icon_mark_type02.png" />-->
                            <!--<img v-if="item.goodsSalGbn == '1' " class="mark" src="images/tip_02.png" />-->
                            <!--<img v-if="item.goodsSalGbn == '2' " class="mark" src="images/icon_mark_type01.png" />-->
                            <!--<img v-if="item.goodsSalGbn == '2' " class="mark" src="images/tip_01.png" />-->
                        </a>
                    </li>
                    <div class="loading_more flex_center" :style="loading_show ? 'display:none;' : '' ">
                        <div class="move_circle">
                            <img class="icon_loading" src="images/icon_loading.png">
                        </div>
                        <p>Loading . . .</p>
                    </div>
                </ul>
            </div>
        </div>

        <!-- modal category -->
        <div class="modal category_box" :class="{menu_show:menuShow}">
            <div class="bg_shadow flex_center">
                <transition name="bounce_a">
                    <div v-if="menuShow" class="modal_box flex_column_center">
                        <ol>
                            <li v-for="item in categoryList">
                                <div class="menu_type menu_theme flex_column_center">
                                    <p v-text="item.categoryNm" class="h5"></p>
                                    <ul class="category_list" :class="{perline_5:perLineFive}">
                                        <li  v-for="( part , index ) in item.parts">
                                            <a v-on:click="selectCategory" :data-group_id="item.categoryType" :data-id="part.ctgrCd" class="flex_column_center" href="javascript:void(0)">
                                                <div class="icon_menu_bg flex_center">
                                                    <div class="icon_menu bg_cover" :style="{backgroundImage:'url('+ part.ctgrImg +')'}"></div>
                                                </div>
                                                <p class="name_menu" v-text="part.ctgrNm"></p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ol>

                        <a class="btn_close" href="javascript:void(0)" @click="menuShow=false">×</a>
                    </div>
                </transition>
            </div>
        </div>

        <div is="popup" :popdata="popdata"></div>

    </div><!-- end of container_box -->

    <div :loading_type="loading_type" is="loading"></div>
</div>
<script type="text/javascript" src="js/lib/swiper-4.1.0.min.js"></script>
<script type="text/javascript" src="http://13.124.30.75:45580/resource/js/glovisMall-api.js"></script>
<script type="text/javascript" src="js/lib/utils.js"></script>
<script type="text/javascript" src="js/lib/scroll.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>
